@font-face {
  font-family: "Diablo Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Diablo Heavy"), url("assets/Diablo Light.ttf") format("truetype");
}

* {
  font-family: "Diablo Heavy";
}

.vignette {
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(circle, transparent 60%, rgba(0, 0, 0, 0.7) 100%);
}

#povGif {
  display: none;
  position: absolute;
  width: 1200px;
  height: 800px;
}

#container {
  position: absolute;
  width: 1200px;
  height: 800px;
  border: 2px solid black;
  perspective: 600px;
  overflow: hidden;
}

#world {
  position: absolute;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  background-image: url("background.webp");
}

.square {
  position: absolute;
}

.menu {
  border: 10px solid;
  position: absolute;

  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 500px;
  height: 300px;

  background-size: cover;
  background-image: url("assets/menu.png");
  border-image: url("assets/menu.png");
}

.menu p {
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}

#menu1 {
  height: auto;
  justify-content: end;
}

.menu button {
  cursor: pointer;
  border: none;
  background-image: url("assets/menu.png");
  width: 100%;
}

.menu button:hover {
  border: none;
  background-color: rgb(143, 108, 21);
}

#modal {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 3px;
  font-size: 30px;
  color: whitesmoke;
  opacity: 0;
  transition: opacity 1s ease;
  text-align: center;
}

#modal.fade-in {
  opacity: 1;
}

#modal.fade-out {
  opacity: 0;
}

.coin {
  height: 100px;
  width: 100px;
  background-image: url("./assets/textures/redbull.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.counter {
  display: none;
  position: absolute;
  bottom: 10px;

  left: 50%;
  transform: translateX(-50%);

  color: whitesmoke;
  font-size: 70px;
  text-align: center;
}
